.footer {
  width: 100%;
  height: auto;
  background-color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  &__text {
    margin: 2rem;
  }
  &__about {
    margin-bottom: 1rem;
    text-decoration: underline;
    font-size: 0.8rem;
    color: white;
  }
}
