.footer {
  width: 100%;
  height: auto;
  background-color: rgb(211, 211, 211);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  &__text {
    margin: 1rem;
  }
  &__about {
    margin-bottom: 0.5rem;
    text-decoration: underline;
    font-size: 0.8rem;
    color: black;
  }
}
