.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content h2 {
  margin-bottom: 3.125rem;
}
.categories {
  display: grid;
  grid-auto-columns: auto;
  gap: 1rem;
  @include for-tablet-portrait-up {
    grid-template-columns: auto auto;
  }
  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include for-desktop-up {
    gap: 1rem 2rem;
    max-width: 800px;
  }
}

.category {
  background-color: $secondary-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  @include for-desktop-up {
  }
  @include border-effect;
  &__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include for-desktop-up {
      flex-direction: column-reverse;
    }
  }
  &__title {
    margin-left: 1rem;
    font-weight: 500;
    @include for-desktop-up {
      margin-bottom: 1rem;
    }
  }
  &__arrow {
    align-self: flex-end;
  }
}
