@import "./resets", "./variables", "./mixins";
@import "./header", "./categories", "./footer", "./create";
@import "./recipe", "./recipes", "./about";

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.wrapper {
  padding: 2.5rem;
  @include md {
    padding: 4.6875rem;
  }
}

.content {
  background-color: $primary-color;
  min-height: 80vh;
}
