@import "./resets", "./variables", "./mixins";
@import "./navbar", "./home", "./footer", "./create";
@import "./recepie";

body {
  font-family: "Rubik", sans-serif;
}

.wrapper {
  padding: 2.5rem;
  @include for-tablet-portrait-up {
    padding: 4.6875rem;
  }
}

.content {
  background-color: $primary-color;
  min-height: 100vh;
}
